.wrapper {
    width: 100vw;
    height: 100vh;
    height: 100svh;
    /* position: relative; */
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.profile {
    margin: 30px;
}

.messages_box {
    margin: 0 30px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.message_box {
    margin: 0 2vw 30px;
    display: grid;
    grid-template-columns: 1fr min(100px, 30vw);
    gap: min(10px, 2vw);
    /* bottom: 0;
    position: sticky; */
    /* bottom: 0; */
    /* width: calc(100% - 60px); */
}